* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #256b7b;
    color: white;
    padding: 10px 0;
}


.logo img {
    width: 60px;
    height: auto;
}

/* Линкове отдясно */
.side-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px 20px 5px 10px;
}

.side-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 20px 5px 0px;
}

.side-links a:hover {
    text-decoration: underline;
}

/* Навигация */
nav {
    background-color: #e1f3f5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #b0dce0;
}

/* Hero секция */
.hero {
    position: relative;
    text-align: center;
    color: white;
    height: auto;
    margin-bottom: 50px;
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 1100px;
    filter: brightness(70%);
}

.section-size {
    background-color: white;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 90%;
    max-width: 2000px;
    padding: 10px;
}

.hero-text h1 {
    font-size: 64pt;
    color: #ffa82f;
}

.hero-text p {
    font-size: 14pt;
    color: #d5f2f3;
}

.start {
    color: black;
    margin: 20px;
}

.place {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    color: #256b7b;
    padding: 20px;
}

.placeimage {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.desc {
    color: black;
    font-size: 16pt;
    padding-top: 10px;
}

.about {
    display: flex;
    height: 700px;
    padding-top: 10px;
}

.flexinfo {
    display: flex;
    gap: 20px;
}

.fleximage {
    border-radius: 10px;
}

.form1 {
    display: block;
    text-align: center;
    color: black;
    margin: 0 auto;
    width: 400px;
}

.personal {
    color: black;
    text-align: left;
    padding: 10px;
}

/* Футър */
footer {
    background-color: #ffa82f;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
}